/* ---------- 768px ------------- */
@media screen and (min-width: 768px) {
  .main-container {
    padding: 0px;
  }
  .main-header {
    margin-bottom: 20px;
  }
  .main-content {
    margin-bottom: 20px;
  }
  .main-content__title {
    font-size: 3.4rem;
  }
  .main-content__description {
    font-size: 1.6rem;
  }
  .form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  .form__label-input {
    margin: 0px;
    text-align: left;
  }
  .form__email-input {
    max-width: 95%;
  }
  .form__btn-submit {
    max-width: 175px;
  }
  .attribution {
    position: absolute;
    bottom: 50px;
    left: 30px;
  }
}
