* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  font-family: "Libre Franklin", sans-serif;
  font-size: 62.5%;
  --primary-text-color: hsl(209, 33%, 12%);
  --second-text-color: hsl(0, 0%, 59%);

  --input-color: hsl(223, 100%, 88%);
  --input-error: hsl(354, 100%, 66%);
  --btn-bg-color: hsl(223, 87%, 63%);
}
.main-container {
  border: 1px solid magenta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0px 0px;
  min-height: 100vh;
}
/* --------- Main header ----------- */
.main-header {
  border: 1px solid olivedrab;
  margin-bottom: 50px;
}
.main-header__logo {
  max-width: 80px;
}
/* --------- Main content ----------- */
.main-content {
  border: 1px solid orangered;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 85%;
}
.main-content__title {
  border: 1px solid magenta;
  color: var(--second-text-color);
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
}
.main-content__title span {
  color: var(--primary-text-color);
  font-weight: 700;
}
.main-content__description {
  font-size: 1.5rem;
  margin: 20px auto 30px;
}
.main-content__illustration {
  width: 100%;
}
/* --------- Main content - Form ----- */
.form {
  border: 1px solid magenta;
  margin-bottom: 75px;
  text-align: center;
  width: 100%;
}
.form__label-input {
  border: 1px solid green;
  display: block;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}
.form__email-input {
  border-radius: 25px;
  border: 1px solid #ccc;
  padding: 1.5rem 2rem;
  transition: all 0.5s ease;
  width: 100%;
  max-width: 350px;
}
.form__email-input::placeholder {
  color: #ccc;
}
.form__email-input:focus {
  border-color: var(--input-color);
  outline: none;
}
.input-error {
  color: var(--input-error);
  font-size: 1.2rem;
  margin: 10px auto;
  display: none;
  transition: all 0.5s ease;
  user-select: none;
  -webkit-user-select: none;
}
.form__email-input:focus + .input-error {
  display: block;
}
.form__btn-submit {
  background-color: var(--btn-bg-color);
  border-radius: 25px;
  border: none;
  box-shadow: 2px 5px 8px var(--input-color);
  color: #fff;
  cursor: pointer;
  padding: 1.5rem;
  transition: all 0.5s;
  width: 100%;
  max-width: 350px;
}
.form__btn-submit:hover {
  background-color: hsl(223, 97%, 70%);
}
.form__btn-submit:active {
  background-color: hsl(223, 66%, 45%);
  transform: scale(0.98);
}
/* --------- Main footer ----------- */
.main-footer {
  border: 1px solid magenta;
  text-align: center;
  width: 100%;
}
.social-media .fab {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  color: var(--btn-bg-color);
  font-size: 2rem;
  padding: 1rem;
  width: 40px;
  height: 40px;
}
.social-media .fab:nth-child(even) {
  margin: 0px 2rem;
}
.main-footer__copy {
  color: var(--second-text-color);
  font-size: 1.2rem;
  margin: 25px auto;
}
/* --------- Attribution footer ----------- */
.attribution {
  border: 1px solid orangered;
  color: var(--second-text-color);
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 2rem;
  text-align: center;
}
.attribution a {
  color: var(--btn-bg-color);
  font-weight: 600;
  text-decoration: none;
}
