*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    font-family: 'Libre Franklin', sans-serif;

    --title-color: hsl(209, 33%, 12%);
    --title-span-color: hsl(0, 0%, 59%);

    --input-color: hsl(223, 100%, 88%);
    --input-error: hsl(354, 100%, 66%);
    --btn-bg-color: hsl(223, 87%, 63%);
}
.main-container{
    border: 1px solid magenta;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0px;
    min-height: 100vh;
}
/* --------- Main header ----------- */
/* .main-header__logo{
    margin: 0 auto;
} */


/* --------- Main content ----------- */


.main-content__illustration{
    width: 90%;
}
/* --------- Main footer ----------- */


/* --------- Attribution footer ----------- */
